@import "variables";
@import "spinner";
@import "animations";
@import "header";
@import "channel";
@import "player";
@import "ripple";
@import "error";

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bgcolor-main;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
}

.invisible {
    visibility: hidden;
}

a {
    outline: 0;

    &:hover,
    &:focus,
    &:target {
        outline: 0;

        &.ripple {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            background-color: transparent;
        }
    }

    &.ripple {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:active {
            background-color: transparent !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .video-entry,
    .channel-entry,
    .playlist-entry {
        width: calc(100vw - 20px) !important;
        height: unset !important;
    }

    .channel-entry-thmb {
        height: calc(((100vw - 80px) * 9) / 16) !important;
    }

    .logo-link {
        .logo {
            display: none !important;
        }

        .logo-small {
            display: block !important;
        }
    }

    .search-autocomplete-container {
        position: fixed !important;
        margin-top: $header-height !important;

        .search-autocomplete-entry {
            padding: 8px 0 8px 10px !important;
        }
    }
}

.header-font {
    font-family: $header-font;
}

.tooltip-overlay {
    background-color: $bgcolor-main;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    z-index: 800;
    display: flex;
    padding: 3px 10px;
    box-shadow: $max-shadow;
    opacity: 0;
    transition: opacity 200ms $intro-easing;
    user-select: none;

    .tooltip-content {
        margin: auto;
        color: $theme-color;
        font-family: $default-font;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .tooltip-title {
        }
    }

    &.visible {
        opacity: 1;
    }
}

.show-more {
    width: 100%;
    display: flex;
    margin: 10px 0 0 0;
    transition: opacity 200ms $intro-easing;
    position: relative;
    height: 30px;

    .show-more-btn,
    .show-less-btn {
        margin-left: -40px;
        text-align: center;
        text-decoration: none;
        color: $title-color;
        font-family: $default-font;
        padding: 5px;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        right: 50%;
        width: 80px;

        &.hidden {
            visibility: hidden;
        }
    }
}

.video-list-container,
.results-panel,
.channel-videos-container {
    width: 100%;
    max-width: $main-width;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &.loading {
        display: none;
    }

    &.hiding{
        animation: slide-in-right-background 300ms $intro-easing;
        animation-fill-mode: forwards;
    }
}

.results-panel,
.channel-videos-container {
    margin-top: $header-height;
}

.video-entry {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: start;
    overflow: hidden;

    .video-entry-thmb {
        width: 100%;
        height: calc((100% / 16) * 9);
        overflow: hidden;
        position: relative;

        .video-entry-thmb-image {
            width: 100%;
            opacity: 0;
            transition: opacity 200ms $intro-easing;
        }

        .video-entry-length {
            text-decoration: none;
            color: $video-thmb-overlay-textcolor;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 2px 4px;
            margin: 8px 4px;
            background-color: $video-thmb-overlay-bgcolor;
            box-sizing: border-box;
            border-radius: 2px;
            font-family: $default-font;
        }
    }

    .video-entry-info {
        padding: 0 0 10px 0;
        font-family: $default-font;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: left;

        .video-entry-title {
            text-decoration: none;
            margin: 0;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $title-color;
            padding: 6px 0 4px 0;
        }

        .video-entry-channel {
            text-decoration: none;
            padding: 3px 0 4px 0;
            font-size: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $subtitle-color;
        }

        .video-entry-stats {
            color: $subtitle-color-light;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            font-size: 0.8rem;
            margin: 5px 0 0 0;
        }
    }
}

.playlist-entry {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: start;
    overflow: hidden;

    .playlist-entry-thmb {
        width: 100%;
        position: relative;

        .playlist-entry-thmb-image {
            width: 100%;
        }

        .playlist-entry-count {
            text-decoration: none;
            color: $video-thmb-overlay-textcolor;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 2px 4px;
            margin: 8px 4px;
            background-color: $video-thmb-overlay-bgcolor;
            box-sizing: border-box;
            border-radius: 2px;
            font-family: $default-font;
        }
    }

    .playlist-entry-info {
        padding: 10px 0;
        font-family: $default-font;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .playlist-entry-title {
            text-decoration: none;
            margin: 0;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $title-color;
        }

        .playlist-entry-channel {
            text-decoration: none;
            margin: 8px 0 0 0;
            font-size: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $subtitle-color;
        }
    }
}

.channel-entry {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: start;
    overflow: hidden;

    .channel-entry-thmb {
        height: calc((220px * 9) / 16);
        position: relative;
        margin: 0 auto;

        .channel-entry-thmb-image {
            height: 100%;
        }
    }

    .channel-entry-info {
        padding: 10px 0;
        font-family: $default-font;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .channel-entry-title {
            text-decoration: none;
            margin: 0;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $title-color;
        }

        .channel-entry-stats {
            color: $subtitle-color-light;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            font-size: 0.8rem;
            margin: 5px 0 0 0;

            p {
                margin: 0 0 5px 0;
            }
        }
    }
}

.video-section-title {
    position: sticky;
    top: $header-height;
    background-color: $bgcolor-main;
    padding: 0 0 0 10px;
    font-family: $default-font;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    max-width: $main-width;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin: 0 auto;
    z-index: 20;

    .video-section-separator {
        background-color: $theme-color;
        height: 1px;
        flex-grow: 1;
        margin: auto 20px auto 20px;
    }

    h2 {
        margin: auto 0;
        color: $title-color;
        overflow: hidden;
        white-space: nowrap;
    }
}
