$header-height: 60px;

$main-width: 1200px;

$header-font: "Righteous", "Open Sans", sans-serif;
$default-font: Roboto, Arial, sans-serif;

$max-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$medium-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$low-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$intro-easing: cubic-bezier(.31,.65,.26,.97);
$outro-easing: cubic-bezier(.71,.21,1,.46);
$dynamic-easing: cubic-bezier(.76,.09,.3,.89);

$theme-color: #f57c00;
$theme-color-light: #ffad42;
$theme-color-dark: #bb4d00;

$player-height: calc((9 / 16) * 100vw);
$player-max-height: calc(100vh - 169px);

$shadow-load-color: #535353b6;