@import url("https://viewtube.eu/proxy/?q=https://fonts.googleapis.com/css?family=Righteous");
@import url("https://viewtube.eu/proxy/?q=https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html.light-theme {
  @import "light-theme";
  display: block;

  @import "style";
}

html.dark-theme {
  @import "dark-theme";
  display: block;

  @import "style";
}
