<div class="loading-error-container">
    <div class="loading-error">
        <span class="loading-error-icon">
            <i class="material-icons">sentiment_very_dissatisfied</i>
        </span>
        <span class="loading-error-text">something went wrong, possible reasons include</span>
        <div class="loading-error-reasons">
            <span class="loading-error-reason">you are offline</span>
            <span class="loading-error-reason">you have blocked some domains</span>
            <span class="loading-error-reason">the api failed to respond</span>
        </div>
        <a class="loading-retry-btn ripple" href="#">retry</a>
    </div>
</div>