<div class="header">
    <a class="logo-link" href="index.html">
        <h1 class="logo"><span>View</span><span class="logo-colored">Tube</span></h1>
        <img class="logo-small" src="images/icon-192.jpg" alt="ViewTube">
    </a>
    <div class="search-box">
        <label for="search" class="invisible">
            <input type="search" name="search" id="search" placeholder="search">
            search
        </label>
        <a href="#" class="search-btn ripple" vt-tooltip="click or press enter to search">
            <i class="material-icons">search</i>
        </a>
        <div class="search-autocomplete-container"></div>
    </div>
    <div class="nav">
        <a href="#" id="open-in-yt" class="ripple" vt-tooltip="view on youtube (hold alt for invidio.us)">
            <svg class="yt-logo" viewBox="0 0 71.412065 50" width="24" height="24">
                <g id="g5" transform="scale(0.58823529,0.58823529)">
                    <path class="st0"
                        d="M 118.9,13.3 C 117.5,8.1 113.4,4 108.2,2.6 98.7,0 60.7,0 60.7,0 60.7,0 22.7,0 13.2,2.5 8.1,3.9 3.9,8.1 2.5,13.3 0,22.8 0,42.5 0,42.5 0,42.5 0,62.3 2.5,71.7 3.9,76.9 8,81 13.2,82.4 22.8,85 60.7,85 60.7,85 c 0,0 38,0 47.5,-2.5 5.2,-1.4 9.3,-5.5 10.7,-10.7 2.5,-9.5 2.5,-29.2 2.5,-29.2 0,0 0.1,-19.8 -2.5,-29.3 z" />
                    <polygon class="st1" points="80.2,42.5 48.6,24.3 48.6,60.7 " />
                </g>
            </svg>
        </a>
        <a href="#" id="settings-btn" class="ripple" vt-tooltip="settings">
            <i class="material-icons">settings</i>
        </a>
    </div>
</div>
<script type="text/javascript" class="headerScript">
    let result = initHeader();
    if (result) {
        $('.headerScript').remove();
    }
</script>