<div class="settings-overlay">
    <div clas="settings-container">
        <div class="settings">
            <div class="theme-settings">
                <a href="#" id="theme-change" class="ripple" vt-tooltip="change theme">
                    <i class="material-icons">invert_colors</i>
                </a>
            </div>
            <div class="cache-settings">
                <a href="#" id="reload-btn" class="ripple" vt-tooltip="hard reload">
                    <i class="material-icons">refresh</i>
                </a>
            </div>
            <div class="about"></div>
        </div>
    </div>
</div>