<div class="video-entry">
    <a class="video-entry-thmb" href="#">
        <img class="video-entry-thmb-image lozad" data-src=""
            src="https://viewtube.eu/images/lazy-thumbnails/thmb-108x192.png" alt="Thumbnail">
        <span class="video-entry-length"></span>
    </a>
    <div class="video-entry-info">
        <a class="video-entry-title" href="#" vt-tooltip="{{ title }}">{{ title }}</a>
        <a class="video-entry-channel" href="#" vt-tooltip="{{ author }}">{{ author }}</a>
        <div class="video-entry-stats">
            <p class="video-entry-views">{{ viewCount }} views</p>
            <p class="video-entry-timestamp">{{ publishedText }}</p>
        </div>
    </div>
</div>